branches:
  only:
    - master
language: node_js
node_js:
- lts/*
git:
  depth: 3
install:
- yarn --frozen-lockfile
script:
  - yarn build:release
  - yarn test
  - yarn deploy
cache: 
  - yarn
  - directories:
    - release/nuxt-element-dashboard/node_modules
    - release/nuxt-multiple-spa/node_modules
    - release/nuxt-vant/node_modules
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
    local-dir: dist
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: npx semantic-release
after_script:
  - ./notify.sh
