/* stylelint-disable */
:export {
  info_color: @--color-info;
  danger_color: @--color-danger;
  primary_color: @--color-primary;
  success_color: @--color-success;
  warning_color: @--color-warning;
  textprimary_color: @--color-text-primary;
  textregular_color: @--color-text-regular;
  menu_bg_color: @menu-bg-color;
  menu_text_color: @menu-text-color;
  menu_active_text_color: @menu-active-text-color;
  submenu_bg_color: @submenu-bg-color;
  submenu_hover_color: @submenu-hover-color;
  submenu_active_text_color: @submenu-active-text-color;
  header_height: @--header-height;
  footer_height: @--footer-height;
  breadcrumb_height: @--breadcrumb-height;
  sidebar_min_width: @sidebar-min-width;
}
