{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "rules": {
    "no-empty-source": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null
  }
}
