body {
  font-size: 28px;
}

.text-center {
  text-align: center;
}

.blue {
  color: #6495fe;
}

.gray {
  color: #828282;
}

.font-s {
  font-size: 24px;
}

.font-m {
  font-size: 28px;
}

.font-l {
  font-size: 32px;
}

.font-xl {
  font-size: 36px;
}

.fixed-box { // fixed-btn 用relative的父元素站位
  position: relative;
  height: 120px;
}

/**
* fixed定位在底部的tab-bar界面，内容
* 区域需加上compatible-fullscrren
* 兼容处理，以免tab-bar遮挡内容区域

* vant组件兼容全面屏：
*  .van-sku-container,
*  .van-goods-action,
*  .van-tabbar-fixed,
*  .van-popup--bottom
**/
.compatible-fullscrren,
.van-sku-container,
.van-goods-action,
.van-tabbar--fixed,
.van-popup--bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

